server:
  port: 8080

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/v1/auth/**
        - id: account-service
          uri: lb://ACCOUNT-SERVICE
          predicates:
            - Path=/api/v1/accounts/**
        - id: transfer-service
          uri: lb://TRANSFER-SERVICE
          predicates:
            - Path=/api/v1/transfers/**
        - id: transaction-service
          uri: lb://TRANSACTION-SERVICE
          predicates:
            - Path=/api/v1/transactions/**
        - id: fraud-detection-service
          uri: lb://FRAUD-DETECTION-SERVICE
          predicates:
            - Path=/api/v1/fraud/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/